<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#fa974c">
  <link rel="apple-touch-icon" href="./icons/icon-192x192.png">
  <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <title>Hungry Apps</title>
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body id="home">
  <a href="#main" class="skip-link">Menuju ke Konten</a>
  <!-- Navbar -->
  <nav class="nav">
    <div class="nav-toggle">
      <h1 class="nav-brand">Hungry Apps</h1>
      <a id="menu" class="nav-menu" z-index="0" aria-label="menu" aria-expanded="false" aria-controls="nav-list"
        href="#">☰</a>
    </div>
    <ul class="nav-list" id="nav-list">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="#/favourite">Favourite</a></li>
      <li class="nav-item">
        <a href="https://dickyalfattah.netlify.app/">About Us</a>
      </li>
    </ul>
  </nav>

  <!-- hero -->
  <div class="hero" id="hero">
    <div class="hero-inner">
      <h1 class="hero_title" tabindex="0">Katalog Restaurant Terlengkap</h1>
      <p class="hero_tagline" tabindex="0">
        Pilihan tempat restaurant yang memiliki harga terjangkau dan dekat
        dari rumah anda.
      </p>
    </div>
  </div>

  <!-- Main -->
  <main id="main">
    <section class="content">

    </section>
  </main>

  <!-- footer -->
  <footer>
    <p>Copyright © 2021 - Hungry Apps</p>
  </footer>
</body>

</html>