:root {
  --primary-color: #ffc947;
  --light-color: hsl(195, 31%, 95%);
  --dark-color: #070707;
  --content-color: #ca791d;
  --content-color-two: #feddbe;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../public/fonts/Poppins-Black.woff2) format("woff2"),
    url(../public/fonts/Poppins-Bold.woff2) format("woff2"),
    url(../public/fonts/Poppins-ExtraBold.woff2) format("woff2"),
    url(../public/fonts/Poppins-ExtraLight.woff2) format("woff2"),
    url(../public/fonts/Poppins-Italic.woff2) format("woff2"),
    url(../public/fonts/Poppins-Light.woff2) format("woff2"),
    url(../public/fonts/Poppins-Medium.woff2) format("woff2"),
    url(../public/fonts/Poppins-Regular.woff2) format("woff2"),
    url(../public/fonts/Poppins-SemiBold.woff2) format("woff2"),
    url(../public/fonts/Poppins-Thin.woff2) format("woff2");
}
